# This argument is required
token:
  "Token_goes_here"

ids:
  developers:
    - devid1
    - devid2

  host:
    -bothostid
    
prefix:
  'tb!'

cogs:
  - cogs.core
  - cogs.dev
  - cogs.twow
  - cogs.host
